<div id="scheduler" class="well">
    <h2>Scheduler Config Page</h2>
    <br />
    <h3>Run a job...</h3>
    <br />
    <select ng-model="config.frequency" ng-options="option.value as option.key for option in frequencyOptions">
    </select>

    <div ng-if="config.frequency === 0">
        <p>This branch's repository will be polled every 5 minutes for changes (including all merges).</p>
    </div>

    <div ng-if="config.frequency > 0">
        <div ng-if="config.frequency === times.daily">
            <h3>Every...</h3>
            <br />
            <label class="day-option" ng-repeat="day in dayOptions">
                <input
                  type="checkbox"
                  name="selectedDays[]"
                  value="[[day.value]]"
                  ng-checked="isDaySelected(day)"
                  ng-click="toggleDaySelection(day)"
                  > [[day.key]]
            </label>
        </div>

        <h3>[[(config.frequency === times.hourly) ? "On the..." : "At..."]]</h3>

        <div class="scheduler-timepicker" ng-class="{hourly: config.frequency === times.hourly}">
            <timepicker ng-model="config.time" ng-change="changed()" hour-step="hstep" minute-step="mstep"></timepicker>
        </div>
    </div>

    <h3>Last Job Run By Scheduler</h3>
    <br />
    <div class="row-fluid">
        <span ng-if="config.lastHash">[[config.lastHash | limitTo: 7]] was scheduled at </span>
        <span ng-if="config.lastJob">[[config.lastJob | date:'medium']]</span>
        <span ng-if="!config.lastJob">Scheduler has not run a job yet</span>
    </div>
    <br/>

    <button ng-click="save()" class="btn btn-primary">Save</button>
</div>